<div class="container">
  <div class="row">
    <div class="container">
      <ul class="list-group">
        <li class="list-group-item"><%= link_to"Add Post", new_post_path, :class=>"btn btn-primary"%></li>
      </ul>
    </div>
    <div class="container">




      <table class="table ">
        <tr class="sorting">
          <th><%=sortable "title" %></th>
          <th><%=sortable "content" %></th>
          <th><%=sortable "user_id","Author"  %></th>
          <th><%=sortable "created_at", "Created" %></th>
        </tr>
          <% @posts.each do |p| %>
          <tr>
            <td> <%= link_to "#{p.title}", post_path("#{p.id}"), :class => "index_link"  %> </td>
            <td> <%= link_to "#{p.content}", post_path("#{p.id}"), :class => "index_link"  %> </td>

            <td>
             <% if p.user.nick_name  %>
                <%= p.user.nick_name %>
              <% elsif p.user.first_name %>
                <%= p.user.first_name %>
              <% else %>
                <%= p.user.email_name %>
              <% end %>

            </td>

            <td> <%= link_to "#{p.created_at}", post_path("#{p.id}"), :class => "index_link"  %> </td>

          </tr>
          <% end %>
<%console%>
      </table>
    </div>
  </div>
</div>
