<div class="container">
  <% if user_signed_in? %>
  <div class="row">
    <div class="container">
      <ul class="list-group">
        <li class="list-group-item">

            <%= link_to"Add Post", new_post_path, :class=>"btn btn-primary"%>

        </li>
      </ul>
    </div>
  <%end%>
    <div class="container">




      <table class="table ">
        <tr class="sorting">
          <th><%=sortable "title" %></th>
          <th><%=sortable "content" %></th>
          <th><%=sortable "user_id","Author"  %></th>
          <th><%=sortable "created_at", "Created" %></th>
          <% if user_signed_in? %>
            <th>Functions</th>
          <%end%>
        </tr>
          <% @posts.each do |p| %>
          <tr>
            <td> <%= link_to "#{p.title}", post_path("#{p.id}"), :class => "index_link"  %> </td>
            <td> <%= link_to "#{p.content}", post_path("#{p.id}"), :class => "index_link"  %> </td>

            <td>
             <% if p.user.nick_name  %>
                <%= p.user.nick_name %>
              <% elsif p.user.first_name %>
                <%= p.user.first_name %>
              <% else %>
                <%= p.user.email_name %>
              <% end %>

            </td>

            <td> <%= link_to "#{p.created_at}", post_path("#{p.id}"), :class => "index_link"  %> </td>
            <% if current_user == p.user %>
              <td>
                <%=link_to "Edit", edit_post_path(p.id), :class=>"btn btn-success"  %>
                <%=link_to "Delete", post_path(p.id), :method=>'delete',:class=>"btn btn-danger", :data => { :confirm => "Are you sure?" }%>
              </td>
            <%end%>
          </tr>
          <% end %>

      </table>
    </div>
  </div>
</div>
