<div class="container">
  <div class="row">
    <div class="container">
      <ul class="list-group">
        <li class="list-group-item"><%= link_to"Add Post", new_post_path, :class=>"btn btn-primary"%></li>
      </ul>
    </div>
    <div class="container">




      <table class="table ">
        <tr class="sorting">
          <th><%=sortable "title" %></th>
          <th><%=sortable "content" %></th>
          <th><%=sortable "Post.user.first_name","Author" %></th>
          <th><%=sortable "created_at", "Created" %></th>
        </tr>
          <% @posts.each do |p| %>
          <tr>
            <td> <%= link_to "#{p.title}", post_path("#{p.id}"), :class => "index_link"  %> </td>
            <td> <%= link_to "#{p.content}", post_path("#{p.id}"), :class => "index_link"  %> </td>
            <td> <%= link_to "#{p.created_at}", post_path("#{p.id}"), :class => "index_link"  %> </td>
            <td> <%= p.user.try(:first_name)%> </td>
          </tr>
          <% end %>

      </table>
    </div>
  </div>
</div>
